/* Theming */
.btn-primary {
    background-color: #8D5DB4;
}

.btn-primary:hover {
    background-color: #664482;
}

main {
    height: 100vh;
    display: flex;
    padding: 0 !important;
    background-color: #E1E7E4;

    #side-panel {
        background-color: #9497B0;

        .bi-search {
            font-size: 40px;
        }

        h2 {
            font-size: 20px;
        }

        #create-offcanvas-button {
            padding: 0.375rem 1.5rem;
        }

        .queries-list {
            list-style: none;
            cursor: pointer;

            li:hover {
                color: #FAFAFAAF;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    
    }
}



#results-panel{
} 

#meta-panel {
}